*{
	font-family: 'Fira Sans';
}
.background-image{
	background-image: url(./Assets/bg.jpg) ; 
	background-repeat: no-repeat;
	background-size: cover ;
	background-position: center;
	color: white;
	

}
.section-container{
	padding: 100px 15px 100px 15px;
}
.info-text{
	font-weight: bolder;
	font-size: 40px;
	font-family: "Fira Sans"
}
.banner-text{
	font-weight: bolder;
	font-size: 30px;
	font-family: "Fira Sans"
}
.buttonLearnMore{
	color: white;
	border-color: white;
}
.caption{
	text-align: center;
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 70px;
}
.section-container-below{
	padding: 100px 15px 100px 15px;
}
.heading{
		border-bottom: 1px solid rgba(0,0,0,0.2) ;
		
	 margin: 20px;
	 padding: 10px 70px ;
	 display:inline-block;
	 font-size: 22px;
	 font-weight: bolder;
	 opacity:1.1;
	 font-family: 'Fira Sans';
}
.headingContainer{

	 text-align: center;
	margin-top: 20px;
	margin-bottom: 40px
}
.whatisHappeningContainer{
	background-color: #F2F2F2;
	padding: 50px;
}
.whatisHappeningTitle{
	margin-top:  15px;
	margin-bottom: 15px;
	font-weight: bold;
	color: gray;

}
.whatisHappeningDescription{
	font-size: 15px;
	color: gray;

}
.whatisHappening-grid{
	padding: 10px;
}
.dottedHorizontalLine{
	border-top: dotted 1px gray;
	margin-top: 20px;
	margin-bottom: 5px;
}
.comment-and-callender{
	font-size: 12px;
	color: gray;
	float: right;
	margin-top: 0px;
}
.our-latest-work-container{
	background-color: #F2F2F2;
	padding: 20px;
}

.brand-and-client-container{

	background-color: #F7F7F7;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 150px;
	padding-right: 150px;
}
.whatisHappeningContainer img{
	width: 100%;
}
.our-latest-work-container img{
	width: 100%;

}
.portfolio-button-container{
	text-align: center;
}
.portfolio-button{
	background-color: #73C9BE;
	border-color: #73C9BE


}
.portfolio-button-text-container{
	font-size: 12px;
	padding: 2px;
	letter-spacing: 3px;
	opacity: 0.6;

}
.brand-and-client-container img{
	width:100%;
}
.footer-container{
	background-color: #2F2F2F;
	margin: 0px;
	padding: 20px;
}
.heading-footer{
	
	border-bottom: 1px solid rgba(255,255,255,0.6) ;	
	 margin: 20px;
	 padding: 10px 70px  ;
	 display:inline-block;
	 font-size: 22px;
	 font-weight: bold;
	 opacity:0.9;
	 color: white;opacity: 0.9;
	 font-family: 'Fira Sans';

}
.footer-description{
	color: white;
	opacity: 0.7;
	padding-left: 300px;
	padding-right: 300px;
	padding-bottom: 100px;
	font-family: 'Fira Sans';
}
@media screen and (max-width: 800px) {
	.footer-description{
	color: white;
	opacity: 0.6;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	
}

 
 } 